<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.info.simple.dao.organization.OrganizationDao">
    <!-- 根据分页参数查询数据集合 -->
    <select id="findOrganizations" resultType="com.cisdi.info.simple.entity.organization.Organization" parameterType="com.cisdi.info.simple.dto.base.PageDTO">
        select
        t0.eid  ,
        t0.name  ,
        t0.code  ,
        t0.link_tel  ,
        t0.address  ,
        t0.parent_id  ,
        t0.display_order  ,
        t0.remark  ,
        t0.create_id  ,
        t0.create_datetime  ,
        t0.update_id  ,
        t0.update_datetime  
        ,t6.name as parent_name

        from simple_organization t0
            LEFT JOIN simple_organization t6 on t0.parent_id =t6.EId
        ORDER BY t0.create_datetime
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据查询所有数据集合 -->
    <select id="findAllOrganizations" resultType="com.cisdi.info.simple.entity.organization.Organization" >
        select
            t0.eid  ,
            t0.name  ,
            t0.code  ,
            t0.link_tel  ,
            t0.address  ,
            t0.parent_id  ,
            t0.display_order  ,
            t0.remark  ,
            t0.create_id  ,
            t0.create_datetime  ,
            t0.update_id  ,
            t0.update_datetime  
            ,t6.name as parent_name

        from simple_organization t0
            LEFT JOIN simple_organization t6 on t0.parent_id =t6.EId
        ORDER BY t0.create_datetime
    </select>

    <!-- 根据名称查询数据集合,只提取ID 和 Name -->
    <select id="findOrganizationsWithIdNameByName" resultType="com.cisdi.info.simple.entity.organization.Organization" parameterType="java.lang.String">
        select
            t0.EId,t0.Name
        from simple_organization t0
        where t0.name like  '%${organizationName}%'
        ORDER BY t0.Name
    </select>


    <!-- 查询所有数据集合,只提取ID 和 Name -->
    <select id="findAllOrganizationsWithIdName" resultType="com.cisdi.info.simple.entity.organization.Organization" >
        select
        t0.EId,t0.Name
        from simple_organization t0
        ORDER BY t0.Name
    </select>
    
    <!-- 查询指定的实体,只提取ID 和 Name -->
    <select id="findOrganizationsWithIdNameById" resultType="com.cisdi.info.simple.entity.organization.Organization" parameterType="java.lang.Long">
        select
        t0.EId,t0.Name
        from simple_organization t0
        where eid = #{organizationId}
    </select>



    <!-- 根据分页参数查询数据集合总条数 -->
    <select id="findOrganizationTotalCount" resultType="java.lang.Long" parameterType="com.cisdi.info.simple.dto.base.PageDTO">
        select count(EId) as totalCount from simple_organization
    </select>

    <!--  根据Id查询 -->
    <select id="findOrganization" resultType="com.cisdi.info.simple.entity.organization.Organization" parameterType="java.lang.Long">
        select * from simple_organization where eid = #{organizationId}
    </select>

    <!-- -->
    <select id="findOrganizationWithForeignName" resultType="com.cisdi.info.simple.entity.organization.Organization" parameterType="java.lang.Long">
        select
            t0.eid  ,
            t0.name  ,
            t0.code  ,
            t0.link_tel  ,
            t0.address  ,
            t0.parent_id  ,
            t0.display_order  ,
            t0.remark  ,
            t0.create_id  ,
            t0.create_datetime  ,
            t0.update_id  ,
            t0.update_datetime  
            ,t6.name as parent_name

        from simple_organization t0
            LEFT JOIN simple_organization t6 on t0.parent_id =t6.EId
        where t0.eid = #{organizationId}
    </select>


    <!--  保存 -->
    <insert id="saveOrganization" parameterType="com.cisdi.info.simple.entity.organization.Organization">
        <selectKey keyProperty="EId" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into simple_organization
        (
                name ,
                code ,
                link_tel ,
                address ,
                parent_id ,
                display_order ,
                remark ,
                create_id ,
                create_datetime ,
                update_id ,
                update_datetime 
        )
        values
        (
                #{name} ,
                #{code} ,
                #{linkTel} ,
                #{address} ,
                #{parentId} ,
                #{displayOrder} ,
                #{remark} ,
                #{createId} ,
                #{createDatetime} ,
                #{updateId} ,
                #{updateDatetime} 
        )
    </insert>

    <!--  编辑 -->
    <update id="updateOrganization" parameterType="com.cisdi.info.simple.entity.organization.Organization" >
        update simple_organization set
                name = #{name} ,
                code = #{code} ,
                link_tel = #{linkTel} ,
                address = #{address} ,
                parent_id = #{parentId} ,
                display_order = #{displayOrder} ,
                remark = #{remark} ,
                create_id = #{createId} ,
                create_datetime = #{createDatetime} ,
                update_id = #{updateId} ,
                update_datetime = #{updateDatetime} 
        where eid=#{EId}
    </update>


    <!--  根据Id删除 -->
    <delete id="deleteOrganization"  parameterType="java.lang.Long">
        delete from simple_organization where eid = #{organizationId}
    </delete>

    <!--  根据code查询 -->
    <select id="findEmployeeByCode" resultType="com.cisdi.info.simple.entity.organization.Employee" parameterType="java.lang.String">
        select * from simple_employee where code = #{code}
    </select>

</mapper>